name: Stock-Scheduler-5s

on:
  schedule:
    - cron: '*/1 * * * *' # 매 1분마다 작업 시작
  workflow_dispatch: # 수동으로 즉시 실행해볼 수 있는 버튼 생성

jobs:
  update-stocks:
    runs-on: ubuntu-latest
    steps:
      - name: Sequential Updates every 5 seconds
        run: |
          # 1분(60초) 동안 5초 간격으로 12번 실행
          for i in {1..12}
          do
            echo "Attempt $i: Updating prices..."
            
            curl -X POST "https://vvvsuoadoawdivzyjmnh.supabase.co/rest/v1/rpc/update_stock_prices_randomly" \
            -H "Content-Type: application/json" \
            -H "apikey: ${{ secrets.SUPABASE_ANON_KEY }}" \
            -H "Authorization: Bearer ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}"
            
            if [ $i -lt 12 ]; then
              echo "Waiting 5 seconds..."
              sleep 5
            fi
          done
